extends js, vue, jsx

snippet deb
debugger;
endsnippet

snippet con
console.log('>>>', ${1});
endsnippet

snippet ex
export default ${1};
endsnippet

snippet dfn
${1:functionName}(${2:args}) {
	${3}
}
endsnippet

snippet ffn
(${1:args}) => {
	${2}
}
endsnippet

snippet .then
.then((${1:res}) => {
	${2}
});
endsnippet

snippet .catch
.catch((${1:err}) => {
	${2}
});
endsnippet

snippet <router
<router-link to="${1}">${2}</router-link>
endsnippet

